/* CSS declarations go here */
@import url(http://fonts.googleapis.com/css?family=Lobster);
@import url(http://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps:700);

body {
margin: 0px;
padding: 0px;
}
#logo {
font-family: 'Lobster', cursive;
font-size: 28px;
}
#main_header #login-buttons {
padding: 12px;
}
#main_header {
    border-bottom: 1px solid black;
    padding: 10px;
    #login-buttons {
        float: right;
    }
}
#map-container {
    border-bottom: 1px solid black;
}

.leaflet-div-icon {
    border-radius: 50%;
    border: none;
    line-height: 30px;
    font-family: verdana;
    text-align: center;
    color: white;
    opacity: .8;
    vertical-align: center;
}
.leaflet-div-icon.public {
    background: #49AFCD;
}
.leaflet-div-icon.private {
    background: #DA4F49;
}

#business_page_header #star_rating{
    float: right;
}

.map-div-icon {
  border: none;
  line-height: 40px;
  text-align: center;
  color: black;
  font-size: 40px;
  vertical-align: middle;
}

#voltage-editor-btns {
text-align: right;
}
#voltage-data {
width: 100%;
}
#voltage-editor.ace_editor {
min-height: 420px;
}

footer .bairkan {
color: black;
font-family: 'Oleo Script Swash Caps', cursive;
font-size: 22px;
text-decoration: none;
}
footer .col-sm-4:nth-of-type(2) {
text-align: center;
}
footer .col-sm-4:nth-of-type(3) {
text-align: right;
}


#login-dropdown-list .dropdown-menu {
			float: right !important;
			right: 0 !important;
			left: auto !important;
}
